<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobile_platform">
  <xacro:macro name="mobile_platform" params="connected_to:=''">

    <xacro:unless value="${connected_to == ''}">
      <joint name="mobile_platform_base_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="mobile_platform"/>
      </joint>
    </xacro:unless>

    <link name="mobile_platform">
      <visual>
        <geometry>
          <mesh filename="package://franka_description/meshes/visual/mobile_platform.dae" scale="1 1 1"/>
        </geometry>
        <origin rpy="0 0 ${+90 * pi/180}" xyz="0 0 -0.21"/>
      </visual>
      <collision>
        <geometry>
          <box size=".8 0.7 0.21"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 -0.105"/>
      </collision>
      <collision>
        <geometry>
          <box size="1.2 0.1 0.21"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 -0.105"/>
      </collision>
    </link>
    
  </xacro:macro>
</robot>
